<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<File name="file" fileName="log.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>

	<loggers>
		<root level="error">
			<AppenderRef ref="file" />
		</root>
	</loggers>
</configuration>