html, body {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 100%;
	margin-top: 0px;
}

#header h1 {
	text-align: center;
	margin: -70px 200px 0px 150px;
	color: #ffff1a
}

#main {
	background: #d9a54f; /* Цвет фона */
	margin: auto;
	padding: 10px;
}
#content{
	padding: 60px;
	background: #fdf7bd; /* Цвет фона */
}
#welcome{
	text-align: center;
}
#footer {
	text-align: center;
}